*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* --------------------------------------header------------------------------------ */
.header{
    top: 0%;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8e8c4;
    box-shadow: 0px 0px 10px 1px rgb(206, 206, 206);
    z-index: 99;
}

.header .logo-img{
    display: flex;
    align-items: center;
}

.header p{
    font-size: 24px;
}


.header .logo-img img{
    border-radius: 50%;
    width: 50px;
    height: auto;
    align-items: center;
    margin: 10px 10px;
}

a{
    cursor: pointer;
    margin: 0 20px;
    text-decoration: none;
    font-size: clamp(12px, 3vw, 18px);
    color: black;
}

.nav-container ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 1dvw;
}

.nav-container ul li::after{
    content: '';
    height: 5px;
    width: 0;
    margin: auto;
    background: #f77272;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav-container ul li:hover::after{
    width: 100%;
}
.nav-container #navigation:not(:hover) .active::after{
    width: 100%;
}

.dropdown-arrow{
    width: 15px;
    height: auto;
}

.nav-popup{
    text-align: center;
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: hsl(0, 0%, 98%);;
    width: 100%;
    height: 180px;
    animation: top-slide 0.5s;
    z-index: 9;
    display: none;
}

.nav-container .nav-popup li{
    margin: 6px 0;
}

.navigation-holder .user-cart{
    display: flex;
}

.navigation-holder .user-cart .contain{
    position: relative;
}

.navigation-holder .user-cart img{
    width: 25px;
    height: auto;
    margin: 0 1dvw;
}

.navigation-holder .user-cart span{
    position: absolute;
    top: -40%;
    right: 0;
    background-color: #f77272;
    padding: 0px 5px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.menu-bar{
    width: 5vh;
    height: 5vh;
    padding: 30px 0;
}

/* If the navigation is not present */

@media  screen and (max-width : 1100px) {
    .navigation-holder{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        animation: slide 0.5s;
        background-color: #f3ddc2
    }
    
    .navigation-holder .nav-container ul{
        padding: 0;
        text-align: center;
        
    }

    .navigation-holder .nav-container ul li{
        display: flex;
        flex-direction: column;
        margin: 2dvw 0;
    }

    .navigation-holder .nav-container .nav-popup{
        position: relative;
        height: 100%;
    }

    .nav-container ul li::after{
        left: 20%;
    }

    .navigation-holder .nav-container ul li:hover::after{
        width: 60%;
    }

    .nav-container #navigation:not(:hover) .active::after{
        width: 60%;
    }

    .navigation-holder .user-cart{
        padding: 3dvw 1dvw;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .navigation-holder .user-cart img{
        margin: 0 3dvw;
    }

    .menu-bar{
        display: block;
    }
}


@media  screen and (min-width : 1100px) {
    .navigation-holder{
        display: block;
        align-items: center;
    }

    .menu-bar{
        display: none;
    }
}


@media screen and (max-width:500px) {
    .header p{
        font-size: 20px;
    }

    .menu-bar{
        width: 30px;
        height: 30px;
    }

    .header .logo-img img{
        width: 10dvw;
        height: 10dvw;
    }
}

@keyframes slide{
    from{right: -20%;
        opacity: 0.5;
    }
    to{right: 0;
        opacity: 1;
    }
}

@keyframes top-slide {
    from{
        top: 0%;
        opacity: 0.5;
        height: 10%;
    }
    to{
        top: 100%;
        opacity: 1;
    }
}

/* ----------------------------------------header---------------------------------------- */

/* ----------------------------------------AddtoCart----------------------------------------- */
.add-to-cart-container{
    display: none;
    position: relative;
}

.add-to-cart-container .contain .item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust min-width as needed */
    gap: 20px; /* Adjust gap between items as needed */
    justify-items: center; /* Align items in the center horizontally */
    align-items: center; /* Align items at the top vertically */
    border: 2px solid #CEBBA3;
    margin: 1dvw 0;
}

.add-to-cart-container .contain .item img{
    width: 100px;
    height: 100px;
}

.add-to-cart-container .contain .item .plus , .minus{
    padding: 0px 5px;
    margin: 1dvw 1dvw;
}

.add-to-cart-container .contain .item .quantity{
    display: flex;
    align-items: center;
    text-align: center;
}

.add-to-cart-container .contain h1 {
    text-align: center;
}

.add-to-cart-container .contain p {
    margin: 5px 0;
}
/* ----------------------------------------AddtoCart----------------------------------------- */


/* ----------------------------------------------BODY---------------------------------------- */

.img-container{
    display: flex;
    position: relative;
}

.img-container img{
    display: flex;
    width: 50dvw;
    height: 45dvw;
}

.img-container h2{
    font-size: 4dvw;
    font-weight: 500;
    position: absolute;
    width: 30%;
    word-spacing: 10px;
    height: auto;
    text-align: center;
    left: 5%;
    top: 25%;
    color: white;
}

/* ----------------------------------------BODY--------------------------------------------- */

/* -----------------------------------SECOND BODY------------------------------------------------ */
.second-body{
    margin: 4dvw 0dvw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.second-body .img1, .img2, .img3{
    background-size: cover;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    background-image: url(assets/picures/3.webp);
}
.img1:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}
.img2{
    background-image: url(assets/picures/6.webp);
}
.img2:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}
.img3{
    background-image: url(assets/picures/5.jpg);
}
.img3:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}

.second-body .text-container{
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.second-body h3{
    width: 100%;
    font-size: 2dvw;
    font-weight: lighter;
    margin: 1dvw 0px;
}

@media screen and (max-width:600px) {
    .second-body{
        flex-wrap: wrap;
    }

    .second-body .img1, .img2, .img3{
        width: 30dvw;
        height: 30dvw;
    }

    .second-body h3{
        font-size: 3dvw;
    }
}

/* -----------------------------------SECOND BODY------------------------------------------------ */

/* ----------------------------------THIRD BODY------------------------------------------------ */
.third-body{
    background-color: #EBE7E5;
    margin: 4dvw 0;
    padding: 4dvw 4dvw;
    text-align: center;
}

.third-body h3{
    font-size: 4dvw;
}

.third-body .product-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.third-body .product-container img{
    width: 15dvw;
    height: 20dvw;
}

.img-center h4{
    width: 70%;
    margin: auto;
    font-weight: lighter;
    font-size: 2dvw;
}

.img-center{
    margin:5px 5px;
    text-align: center;
}
.img-center:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}

@media  screen and (max-width:800px) {
    .third-body .product-container img{
        width: 20dvw;
        height: 30dvw;
    }
    
    .img-center h4{
        font-size: 3dvw;
    }
}

/* -------------------------------------THIRD BODY----------------------------------------------- */

/* ----------------------------------------LOGIN--------------------------------------------------- */
.login-container{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.493);
}

.login-container .contain{
    position: relative;
    width: 500px;
    padding: 1dvw 1dvw;
    left: 50%;
    top: 30%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.808);
    animation: slideDown 0.5s;
}

.login-container .contain img{
    width: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.login-container .contain input[type=email] , .login-container .contain input[type=password], .login-container .contain button{
    display: inline;
    padding: 0.5dvw 1dvw;
    margin: 0.5dvw;
}

.login-container .contain a:hover{
    text-decoration: underline;
}

@keyframes slideDown{
    from{
        top: 0;
        width: 20%;
        opacity: 0.5;
    }

    to{
        top: 30%;
        width: 500px;
        opacity: 1;
    }
}
/* ----------------------------------------LOGIN--------------------------------------------------- */

/* ----------------------------------------SIGNUP--------------------------------------------------- */
.sign-up-container{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.493);
}

.sign-up-container .contain{
    position: relative;
    width: 40dvw;
    padding: 1dvw 1dvw;
    left: 50%;
    top: 40%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    animation: Slidedown 0.5s;
}

.sign-up-container .contain img{
    width: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.sign-up-container input[type=text], .sign-up-container input[type=email] , .sign-up-container input[type=tel], .sign-up-container input[type=password], .sign-up-container  textarea , .sign-up-container button {
    display: inline-block;
    padding: 0.5dvw 1dvw;
    margin: 0.5dvw;
}

.sign-up-container .contain a:hover{
    text-decoration: underline;
}

.sign-up-container .contain .terms{
    margin: 1dvw 0;
    
}

@keyframes Slidedown {
    from{
        top: 0;
        width: 20%;
        opacity: 0.5;
    }
    to{
        top: 40%;
        width: 40dvw;
        opacity: 1;
    }
    
}
/* ----------------------------------------SIGNUP--------------------------------------------------- */

/* ------------------------------------ADD PRODUCT------------------------------------------ */

.add-product{
    display: none;
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: #EBE7E5;
    text-align: center;
}

.add-product .add-product-container{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}
.add-product .add-product-container input[type=text],input[type=file],select,button{
    margin: 1dvw 0;
    padding: 0.8dvw 1dvw;
    font-size: 16px;
}

/* ------------------------------------ADD PRODUCT------------------------------------------ */

/* -----------------------------------------Profile------------------------------------------ */
.profile-container{
    display: none;
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: #EBE7E5;
}

.profile-container .contain{
    display: flex;
    justify-content: center;
    padding: 4dvw 2dvw;
}

.profile-container .contain .profile{
    padding: 0 2dvw;
}

.profile-container .contain .profile img{
    width: 300px;
    height: 300px;
    border: 5px double rgba(128, 128, 128, 0.527);
    border-radius: 50%;
}

.profile-container .contain .details{
    padding: 0 2dvw;
    
}

.profile-container .contain .details .wrap{
    display: flex;
}

.profile-container .contain .details .wrap div{
    margin: 1dvw 1dvw;
}

.profile-container .contain .details .wrap div h3{
    background-color: rgba(128, 128, 128, 0.397);
    font-weight: 500;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    width: 300px;
}

.profile-container .close-btn{
    width: 30px;
    position: absolute;
    right: 0;
}
/* -----------------------------------------Profile------------------------------------------ */

/* ---------------------------------------SERUM----------------------------------------- */
#serum-page{
    display: none;
    height: auto;
    position: relative;
}

#serum-page .contain{
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 1px rgb(206, 206, 206);
    padding: 1dvw 0;
}

#serum-page .contain input[type=text]{
    position: relative;
    display: inline-block;
    left: 65%;
    padding: 5px 5px;
}

#serum-page .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15% 5dvw;
}

#serum-page h1{
    text-align: center;
    margin: 0;
}

#serum-page .product figure{
    position: relative;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px 5px rgb(206, 206, 206);
    overflow: hidden;
}

#serum-page .product figure:hover{
    height: 370px;
    transition: 0.5s;
}

#serum-page .product figure figcaption{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

#serum-page .product figure figcaption:nth-child(4){
    background-color: #ff8484;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    position: absolute;
}

#serum-page .product figure h3{
    margin: 0;

}

#serum-page .product figure img{
    position: relative;
    width: 280px;
    height: 230px;
    object-fit: cover;
}

#serum-page .product figure button{
    background-color: #f77272;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    top: 0px;
    margin: 0;
}

#serum-page .product figure:hover button{
    height: 50px;
    transition: 0.5s;
}

/* ---------------------------------------SERUM----------------------------------------- */

/* ---------------------------------------SOAP----------------------------------------- */
#soap-page{
    display: none;
    height: auto;
    position: relative;
}

#soap-page .contain{
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 1px rgb(206, 206, 206);
    padding: 1dvw 0;
}

#soap-page .contain input[type=text]{
    position: relative;
    display: inline-block;
    left: 65%;
    padding: 5px 5px;
}

#soap-page .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15% 5dvw;
}

#soap-page h1{
    text-align: center;
    margin: 0;
}

#soap-page .product figure{
    position: relative;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px 5px rgb(206, 206, 206);
    overflow: hidden;
}

#soap-page .product figure:hover{
    height: 370px;
    transition: 0.5s;
}

#soap-page .product figure figcaption{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

#soap-page .product figure figcaption:nth-child(4){
    background-color: #ff8484;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    position: absolute;
}

#soap-page .product figure h3{
    margin: 0;

}

#soap-page .product figure img{
    position: relative;
    width: 280px;
    height: 230px;
    object-fit: cover;
}

#soap-page .product figure button{
    background-color: #f77272;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    top: 0px;
    margin: 0;
}

#soap-page .product figure:hover button{
    height: 50px;
    transition: 0.5s;
}
/* ---------------------------------------SOAP----------------------------------------- */

/* ---------------------------------------TONER-------------------------------------------- */
#toner-page{
    display: none;
    height: auto;
    position: relative;
}

#toner-page .contain{
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 1px rgb(206, 206, 206);
    padding: 1dvw 0;
}

#toner-page .contain input[type=text]{
    position: relative;
    display: inline-block;
    left: 65%;
    padding: 5px 5px;
}

#toner-page .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15% 5dvw;
}

#toner-page h1{
    text-align: center;
    margin: 0;
}

#toner-page .product figure{
    position: relative;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px 5px rgb(206, 206, 206);
    overflow: hidden;
}

#toner-page .product figure:hover{
    height: 370px;
    transition: 0.5s;
}

#toner-page .product figure figcaption{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

#toner-page .product figure figcaption:nth-child(4){
    background-color: #ff8484;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    position: absolute;
}

#toner-page .product figure h3{
    margin: 0;

}

#toner-page .product figure img{
    position: relative;
    width: 280px;
    height: 230px;
    object-fit: cover;
}

#toner-page .product figure button{
    background-color: #f77272;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    top: 0px;
    margin: 0;
}

#toner-page .product figure:hover button{
    height: 50px;
    transition: 0.5s;
}
/* ---------------------------------------TONER------------------------------------------- */

/* ---------------------------------------Foam-------------------------------------------- */
#foam-page{
    display: none;
    height: auto;
    position: relative;
}

#foam-page .contain{
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 1px rgb(206, 206, 206);
    padding: 1dvw 0;
}

#foam-page .contain input[type=text]{
    position: relative;
    display: inline-block;
    left: 65%;
    padding: 5px 5px;
}

#foam-page .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15% 5dvw;
}

#foam-page h1{
    text-align: center;
    margin: 0;
}

#foam-page .product figure{
    position: relative;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px 5px rgb(206, 206, 206);
    overflow: hidden;
}

#foam-page .product figure:hover{
    height: 370px;
    transition: 0.5s;
}

#foam-page .product figure figcaption{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

#foam-page .product figure figcaption:nth-child(4){
    background-color: #ff8484;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    position: absolute;
}

#foam-page .product figure h3{
    margin: 0;

}

#foam-page .product figure img{
    position: relative;
    width: 280px;
    height: 230px;
    object-fit: cover;
}

#foam-page .product figure button{
    background-color: #f77272;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    top: 0px;
    margin: 0;
}

#foam-page .product figure:hover button{
    height: 50px;
    transition: 0.5s;
}
/* ---------------------------------------Foam------------------------------------------- */

/* ---------------------------------------Cream-------------------------------------------- */
#cream-page{
    display: none;
    height: auto;
    position: relative;
}

#cream-page .contain{
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 1px rgb(206, 206, 206);
    padding: 1dvw 0;
}

#cream-page .contain input[type=text]{
    position: relative;
    display: inline-block;
    left: 65%;
    padding: 5px 5px;
}

#cream-page .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15% 5dvw;
}

#cream-page h1{
    text-align: center;
    margin: 0;
}

#cream-page .product figure{
    position: relative;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px 5px rgb(206, 206, 206);
    overflow: hidden;
}

#cream-page .product figure:hover{
    height: 370px;
    transition: 0.5s;
}

#cream-page .product figure figcaption{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

#cream-page .product figure figcaption:nth-child(4){
    background-color: #ff8484;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    position: absolute;
}

#cream-page .product figure h3{
    margin: 0;

}

#cream-page .product figure img{
    position: relative;
    width: 280px;
    height: 230px;
    object-fit: cover;
}

#cream-page .product figure button{
    background-color: #f77272;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    top: 0px;
    margin: 0;
}

#cream-page .product figure:hover button{
    height: 50px;
    transition: 0.5s;
}
/* ---------------------------------------Cream------------------------------------------- */

/* ----------------------------------------ABOUT US--------------------------------------------- */
.about-us{
    background-color: #CEBBA3;
}

.about-us .texts{
    position: absolute;
    margin-top: 10%;
    width: 40%;
    right: 10%;
}

.about-us .texts h3{
    font-size: 2dvw;
}

.about-us .texts .a{
    text-align: center;
    margin: 3dvw 0;
    font-size: 3dvw;
}
.about-us .texts .b{
    text-align: center;
    margin: 5dvw 0;
}

/* ----------------------------------------ABOUT US---------------------------------------------- */
.about-us{
    background-image: url(assets/picures/HOME-transformed.jpeg);
    background-position: -30dvw;
    background-size: cover;
    height: 60dvw;
    position: relative;
}

.about-us .texts{
    position: absolute;
    width: 40%;
    right: 10%;
    top: -5%;
}

.about-us .texts h3{
    font-size: 3dvw;
}

.about-us .texts .a{
    margin: 3dvw 0;
    font-size: 3dvw;
}
.about-us .texts .b{
    margin: 5dvw 0;
}
/* ------------------------------------------FOOTER--------------------------------------------- */

.footer{
    background-color:#f8e8c4;
    padding: 1dvw 0;
    text-align: center;
}

.footer h4{
    margin: 0;
}

/* -------------------------------------------FOOTER------------------------------------------- */
